<head>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<div class="dashboard-container">
	<div class="compose-new sm-container">
		<img class="self-profile-img" src='https://pbs.twimg.com/profile_images/1798484398/S_Twitter_white-resize.png'/>
		<div class="self-profile-name">Stanford on Twitter</div>
	</div>
	<div class="most-rt xs-container">
		<div class="xs-label">Most Retweeted</div>
		<ul class="rtlist"></ul>
	</div>
	<div class="most-follow xs-container">
		<div class="xs-label">Most Followers</div>
		<ul class="followlist"></ul>
	</div>
	<div class="most-locations xs-container">
		<div class="xs-label">Most Tweeted Loc</div>
		<ul class="locationlist"></ul>
	</div>
</div>
<div id="tweets" class="tweet-container">
	<div class="tweet-sort-bar">Sort By:
		<a class="sort" data-sort="created" href="javascript:void(0);">Time</a>
		<a class="sort" data-sort="retweets" href="javascript:void(0);">Retweets</a>
		<a class="sort" data-sort="faves" href="javascript:void(0);">Favorites</a>
		<a class="sort" data-sort="followers" href="javascript:void(0);">Followers</a>
		<a class="sort" data-sort="tweets" href="javascript:void(0);">Tweets</a>
	</div>
	<ul class="list">
	</ul>
</div>
