// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: helvetica;
	font-color: white;
	background-color: #8700E8;
	background-image:url('stanford.jpg');
	backround-repeat:no-repeat;
	background-size:100%;

}
.dashboard-container {
	
	//background-image:url('stanford.jpg');
	//backround-repeat:no-repeat;
	//background-size:100%;
	left: 0px;
	top:30px;
	position: fixed;
	width: 40%;
	//padding-top:20px;
	//padding-bottom:20px;
	z-index: 1;
}
.tweet-sort-bar {
	position: fixed;
	//top: 225px;
	//margin-top: 20px;
	//margin-left: 10px;
	color: #FFFFFF;
	width: 50%;
	padding:5px 22px;
	background-color: #990000;
	z-index:3;
}
.tweet-container {
	float:right;
	position: absolute;
	//top:160px;
	left: 40%;
	//margin: 20px;
	margin-top: 90px;
	width: 60%;
	//height: 80%;
	background-color: #990000;
	-moz-border-radius: 12px;
	border-radius: 12px;
	opacity:0.9;

}

.sm-container {
	display: none;
	background-color: #990000;
	-moz-border-radius: 12px;
	border-radius: 12px;
	min-height: 150px;
	width: 93%;
	opacity:0.9;
	margin: 10px auto;
}
.xs-container  {
	//display: inline-block;
	float: right;
	background-color: #990000;
	-moz-border-radius: 12px;
	border-radius: 12px;
	min-height: 150px;
	font-size: 12px;
	width: 170px;
	opacity:0.9;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom:20px;
	padding-right:5px;
	padding-left:5px;
}

.sm-label {
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 8px;
	border-bottom: 1px solid white;
}
.xs-label {
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 8px;
	border-bottom: 1px solid white;
}

.pages {
	border: 0px;
	//padding-right: 10px;
	display: inline-block;
	float: right;
}
.sort {
	border-right: 1px solid white;
	padding: 0px 6px;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:10px 0 0;
}

.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.followlist, .rtlist {
  margin:0;
}
.locationlist {
  list-style-type: none;
  color: white;
}

.toplistloc {
  margin: 3px -30px;
  text-transform:capitalize;
}
.followlist > li, .rtlist > li {
  display:block;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: -18px;

}
.toplist-profile-img {
	width: 25px;
	height: 25px;
	vertical-align: middle;

  
}
a.toplistlink:link {
  color: #fff;
}
a.toplistlink:visited {
  color: PaleVioletRed;
}

a.sort:link {
	text-decoration:none;
	color:#FFFFFF;      /* unvisited link */
}
a.sort:visited {color:#FFFFFF;}  /* visited link */
a.sort:hover {color:#380000 ;}  /* mouse over link */
a.sort:active {color:#FFFFFF;} 

.compose-new {
	margin-top: 10px;
}
.self-profile-img {
	width: 33%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 33%;
}
.self-profile-name {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	color: #FFFFFF;
	font-size:24px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tweet {
	padding: 12px 8px 16px 8px;
	margin:-8px 10px;
	background-color: #FFFFFF;
	min-height:60px;
	
}

.profile-img {
	border: 2px solid white;
	float: left;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height:56px;
	width:56px;
	margin-right: 10px;

}
.tweet-loc {
	font-size: 10px;

}
.retweets, .faves, .tweets, .followers {
	padding-right:15px;
	padding-left: 5px;
	float: right;
}
.fa-star, .fa-retweet, .fa-users, fa-twitter {
	padding-left: 3px;
	width: 5px;
	height: 5px;
}

.profile {
	margin-bottom: 6px;

}
.handle {
	font-color: gray;
}
.action {
	float: right;
}
.sort {
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  height:20px;
}
.sort a:hover {
  text-decoration: none;
  background-color:#fff;
}
.sort a:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
a:link {
	text-decoration:none;
	color:#EA1D24;      /* unvisited link */
}
a:visited {color:#C01818;}  /* visited link */
a:hover {color:#EA1D24;}  /* mouse over link */
a:active {color:#380000 ;}  /* selected link */